:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}


.Square {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  flex-direction: column;
}

input {
  margin: auto;
  border: 1px solid black;
  height: 30px;
  padding: 0.1rem;
}

input:focus {
  outline: none;
}






